# Boilerplate
/*.json
/env/*
!/env/.env.example
/.idea/
/.run/
/venv/
*/cache/*
!*/cache/.keep
__pycache__/
_archive/
_dev/
backup/
build/
dev/
dist/
ignored/
*~$*
*.DS_Store
*.egg-info
*.swp
.DS_Store
MANIFEST
tags
